@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@600&family=Ravi+Prakash&family=Roboto+Mono:ital,wght@1,500&display=swap');
body {
    font-family: 'Robot', sans-serif;
    background: rgb(11, 13, 52);
    background: linear-gradient(90deg, rgba(11, 13, 52, 1) 0%, rgba(6, 18, 7, 0.9445983379501385) 0%, rgba(164, 169, 177, 1) 100%);
}

h3 {
    font-family: 'Ravi Prakash', cursive
}

.form-control {
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.list.zoom {
    transition: 0.5s ease-in-out;
}

.list.zoom :hover {
    transform: scale(1.05);
}

.btn-action {
    cursor: pointer;
}